<!DOCTYPE html>
<html lang="en">

<head>
  <title>Decision Maker: Message</title>
  <%- include('partials/_head') %>
</head>

<body>

  <%- include('partials/_header') %>
    <main>
      <div>
        <p class="errorMsg">
          <i class="fa-solid fa-triangle-exclamation"></i>
          &nbsp; <%= msg %> &nbsp;
          <i class="fa-solid fa-triangle-exclamation"></i><br>
          Please check the unique link given to the poll.
        </p>
      </div>
      <div>
        <a href="/">Go Back to Home Page</a>
      </div>
    </main>
</body>

</html>
